@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
header {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 35px;
}

.image_logo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.arrow_back {
  align-content: center;
}

.icon_arrow {
  position: relative;
  top: 5px;
  margin-left: 20px;
  color: black;
}
.icon_arrow:hover {
  color: #9356DC;
  transform: scale(1.3);
}

footer {
  width: 100%;
  height: 180px;
  background-color: #2d2f31;
  color: white;
  line-height: 25px;
  padding: 20px;
}

.footer_content {
  padding: 20px;
}

.logo_footer {
  display: flex;
  align-items: center;
}

.footer_icon {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.footer_font {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  margin: 0 0 10px 0;
}

.btn {
  width: 260px;
  height: 60px;
  margin: 40px 0 80px 0;
  color: white;
  font-weight: 800;
  font-size: 1.1rem;
  border-radius: 30px;
  border: none;
  background: linear-gradient(#9356DC, #FF79DA);
}
.btn:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: linear-gradient(#a16be0, #ff93e1);
}

.titres {
  text-transform: uppercase;
  font-weight: 500;
  margin: 50px auto 5px 20px;
}

.underline {
  width: 50px;
  height: 0.25em;
  background-color: #99E2D0;
  margin: 0 auto 5px 20px;
}

.logo_titres_font {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 20px 0 35px 15px;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1680px;
  margin: auto;
}

p {
  font-size: 1.1rem;
}

h4 {
  margin: 0 0 3px 0;
  font-size: 1.3rem;
}

main {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
  position: relative;
  z-index: 10;
}

.images_restaurant {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.images_restaurant:hover {
  color: #9356DC;
}

.menu {
  display: flex;
  height: 80px;
}

.titres_restaurants {
  width: 100%;
}

.restaurants_heart {
  position: relative;
  padding-top: 7%;
}

.heart {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  right: 25px;
  top: 25%;
  margin: 10px;
  opacity: 1;
}

.stop_un {
  stop-color: #9356DC;
}

.stop_deux {
  stop-color: #FF79DA;
}

.heart_color {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  right: 25px;
  top: 25%;
  margin: 10px;
  opacity: 0;
}
.heart_color:hover {
  opacity: 1;
  transition-duration: 1.5s;
}

.soumenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partie_sousmenus {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.entrees {
  animation: slideDown 1.5s;
}

.plats {
  animation: slideDown 3.5s;
}

.desserts {
  animation: slideDown 7s;
}

.sousmenus {
  display: flex;
  width: 95%;
  height: 80px;
  border-radius: 15px;
  margin: 5px 0 5px 0;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.sousmenus:hover .text_restaurant {
  max-width: 200%;
  min-width: 50%;
  animation: tempo_text_restaurant 500ms;
}
.sousmenus:hover .prix {
  display: flex;
  width: 15%;
  min-width: 30px;
  height: 100%;
  align-items: flex-end;
}
.sousmenus:hover .anim_restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  padding: 0;
  width: 30%;
  max-width: 250px;
  height: 100%;
  background-color: #99E2D0;
  animation: tempo_anim_restaurant 500ms;
}
.sousmenus:hover .fa-circle-check {
  display: flex;
  animation: checked 400ms ease-in-out 150ms;
  justify-content: center;
  align-content: center;
  color: white;
}

.prix {
  display: flex;
  min-width: 40px;
  max-width: 90px;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 800;
  align-items: flex-end;
  padding: 0 5%;
}

.montant {
  margin: 0 0 15px 15px;
}

.text_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  min-width: 70%;
  max-width: 150%;
  padding-left: 7%;
}

.anim_restaurant {
  display: none;
}

.point {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes tempo_anim_restaurant {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes tempo_text_restaurant {
  0% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}
@keyframes checked {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.commander {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Tablette */
@media screen and (min-width: 750px) and (max-width: 1099px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    background-color: #2d2f31;
    color: white;
    line-height: 25px;
    padding: 20px;
  }
  .lien_footer {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
  .footer_content {
    text-align: center;
  }
  .logo_footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 20px;
  }
  .footer_icon {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 5px 0 20px;
  }
  .footer_font {
    font-family: "Shrikhand", cursive;
    font-size: 25px;
    margin: 0 0 10px 0;
  }
  header {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 1rem;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 35px;
  }
  .image_logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .arrow_back {
    align-content: center;
  }
  .icon_arrow {
    position: relative;
    top: 5px;
    margin-left: 20px;
    color: black;
  }
  .icon_arrow:hover {
    color: #9356DC;
    transform: scale(1.3);
  }
  .partie_sousmenus {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
}
/* desktop */
@media screen and (min-width: 1100px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    background-color: #2d2f31;
    color: white;
    line-height: 25px;
    padding: 20px;
  }
  .lien_footer {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
  .footer_content {
    text-align: center;
  }
  .logo_footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 20px;
  }
  .footer_icon {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 5px 0 20px;
  }
  .footer_font {
    font-family: "Shrikhand", cursive;
    font-size: 25px;
    margin: 0 0 10px 0;
  }
  header {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 1rem;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 35px;
  }
  .image_logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .arrow_back {
    align-content: center;
  }
  .icon_arrow {
    position: relative;
    top: 5px;
    margin-left: 20px;
    color: black;
  }
  .icon_arrow:hover {
    color: #9356DC;
    transform: scale(1.3);
  }
  .partie_sousmenus {
    flex-direction: row;
  }
  .sousmenus {
    display: flex;
    flex-direction: row;
    max-width: none;
    margin: 5px;
    height: 70px;
  }
  .sousmenus:hover .anim_restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #99E2D0;
  }
  .sousmenus:hover .text_restaurant {
    width: 80%;
  }
  @keyframes slideDown {
    from {
      transform: translateX(-30px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}/*# sourceMappingURL=style_restaurants.css.map */